#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<div id="crudBlank" class="row">

	<div class="span12">
		<div class="well">
    	<h1 id="crudBlankTitle">Afficher un album de Picasa</h1>

	    #{form action:@create(), enctype:'multipart/form-data'}
	        #{crud.form /}
	        <p class="crudButtons">
	            <input type="submit" name="_save" value="Sauvegarder" class="btn btn-primary"/>
	        </p>
	    #{/form}
	    
	    </div>
	</div>
</div>