#{extends 'main.html' /}
#{set title:'Gallery' /}
		
		<div class="row">
			<div id="wrap" class="span12 columns" style="text-align: center">
				<div id="controller" style="display:none">
					#{list items:gallery.pictures, as:'picture'}
					<span class="jFlowControl">No ${picture_index}</span>	
					#{/list}
				</div>
				
				<div id="slides">
					#{list items:gallery.pictures, as:'picture'}
					<div>
						<img width="300px" height="500px" title="${picture.title}" src="@@{Application.thumbnail(gallery.id, picture.id)}" alt="${picture.title}" />
					</div>	
					#{/list}
				</div>
				
				 <div id="prevNext">

        <img src="images/prev.png" alt="Previous Tab" class="jFlowPrev" />

        <img src="images/next.png" alt="Next Tab" class="jFlowNext" />

    </div>
				
			</div>
		</div>
