#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.title') /}

<div class="row">
	<div class="span12 well">
		<h1>Administration du site</h1>
		<p>Les onglets en haut de page permettent d'accéder aux diverses galleries de photos.En accédant à ces galleries, vous pourrez y ajouter de nouvelles photos, ou en supprimer.</p>
		<p>Pour retourner à la consultation classique du site, déconnectez-vous de la section d'administration en cliquant sur le bouton <b>Déconnecter</b> en haut à droite.<p>
	</div>
</div>
