#{extends 'main.html' /}
#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" 
        href="@{'/public/stylesheets/crud.css'}" />
#{/set}

		<!-- Beginning of admin row -->
		
		<div class="row">
			#{if flash.success}
			            <div class="alert alert-success">
			                ${flash.success}
			            </div>
			#{/if}
			#{if flash.error || error}
			            <div class="alert alert-error">
			                ${error ?: flash.error}
			            </div>
			#{/if}
		</div>
		
		
		//#{doLayout /}
		<!-- End of admin row -->